body {
  background: #FDE8E9;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  color: #1F2232;
}

textarea {
  background: transparent;
  border: none;
  resize: none;
  color: #1F2232;
  border-left: 1px solid #1F2232;
  padding: 10px;
}

.description {
  white-space: pre-wrap;
}

.time-block {
  border-radius: 15px;
}

.row {
  border-top: 1px solid #FDE8E9;
}

.hour {
  background-color: #FDE8E9;
  color: #1F2232;
  border-top: 1px dashed #1F2232;
}

.past {
  background-color: #596475;
  color: white;
}

.present {
  background-color: #E3BAC6;
  color: white;
}

.future {
  background-color: #BC9EC1;
  color: white;
}

.saveBtn {
  border-left: 1px solid #1F2232;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: #1F2232;
  color: #FDE8E9;
}

.saveBtn i:hover {
  font-size: 20px;
  transition: all 0.1s ease-in-out;
  color: #BC9EC1;
}
